@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

body {
	margin:0
	
}
header{
	background:white;
	color:#b884f4;
	padding: 8px 0px 6px 40px;
	height:40px;
}
header h1{
	display: inline;
	font-family: 'Satisfy', cursive;
	font-weight:400;
	font-size:32px;
	float:left;
	margin-top:0px;
	margin-right:10px;
}
nav ul{
	display:inline; 
	padding:0px;
	float:left;
}
nav ul li{
	display:inline-block;
	list-style-type:none;
	color:white;
	float:left;
	margin-left:12px;
}
#nav{
	font-family:'Courgette', cursive;
	
}
.homepurple{
	background-color:#b884f4;
	padding:30px 10px 16px 10px;
}
.divider{
	background-color:#b884f4;
	height:10px;
}
.homegray:hover{
	background-color:#b884f4;
	padding:30px 10px 16px 10px;
}
.fwimage1{
	background-image: url(img/ress.jpg);
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
	margin:0;
	padding:0;
}
.homes{
	font-family: 'Fredoka One', cursive;
	margin:0;
	font-size:18px;
	padding:9% 5% 0% 55%;
	font-size:18px;
	color:purple;
	
}
.homesr{
	font-family: 'Fredoka One', cursive;
	margin:0.5% 0% 0% 55%;
	font-size:75px;
	color:white;
	background-color:rgba(0,0,0,0.4);
	display:inline-block;
}
.homesc{
	font-family: 'Fredoka One', cursive;
	margin:0% 0% 0% 55%;
	font-size:64px;
	background-color:rgba(0,0,0,0.4);
	color:black;
	display:inline-block;
}
.buttonhome{
	margin: 0% 0% 0% 55%;
	background:purple;
	color:black;
	border:none;
	height:50px;
	font-size:1.4em;
	padding:0 1em;
	cursor: pointer;
	outline:none;
	font-family: 'Fredoka One', cursive;
	font-weight:900;
}
.homesi{
	font-family: 'Satisfy', cursive;
	font-size:20px;
	color:grey;
	
}
.dobrodosli{
	
	font-family:'Courgette', cursive;
	font-size:18px;
	color:grey;
	margin:0% 30%;
	
}
.background{
	background-image: url(img/background.jpg);
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
	margin:0;
	padding:0;
}
